@import "../../sass/variables";

.message {
  margin-bottom: 20px;
  background-color: $message-background-color;
  border: 1px solid $message-border-color;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px;
  
  blockquote {
    margin: 0;
  }
}
